section.compare-container {
	width: 95%;
	margin: 0 auto;
    font-size: 90%;
}

.compare-col-A,
.compare-col-B {
	width: 49%;
	float: left;
}
.compare-col-A {
    margin-right: 2%;
}

.compare-col-A .compare-controls,
.compare-col-B .compare-controls {
    margin-bottom: 20px;
}

.compare-tag {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
    float:right;
}

.greater {
	background-color: green
}
.less {
	background-color: red;
}

.compare-container .unit-container {
    font-size: 11px;
}
.compare-container .unit-container .positive-number {
    color: green;
}
.compare-container .unit-container .negative-number {
    color: red;
}

@media (min-width: 768px) {
    section.compare-container {
        font-size: 100%;
    }
    .compare-container .unit-container {
        width: 90%;
        font-size: 16px;
    }
    .compare-container .unit-container .positive-number,
    .compare-container .unit-container .negative-number {
        color: #212529;
    }
}